# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea/
*.iml
out/
target/

# OS files
.DS_Store
Thumbs.db

# VM crash logs
hs_err_pid*
